[submodule "server/php/example/httpserver"]
	path = server/php/example/httpserver
	url = git://github.com/youngj/httpserver.git
[submodule "server/php/example/php-amqplib"]
	path = server/php/example/php-amqplib
	url = git://github.com/youngj/php-amqplib.git
