<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.envaya.sms"
      android:versionCode="7"
      android:versionName="2.0-beta 5">
         
    <uses-sdk android:minSdkVersion="4" />
         
    <uses-permission android:name="android.permission.RECEIVE_SMS" />     
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:name="org.envaya.sms.App"
        android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ui.Main" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.Help" android:label="EnvayaSMS : Help">
        </activity>        

        <activity android:name=".ui.TestPhoneNumbers" android:label="EnvayaSMS : Test Phone Numbers">
        </activity>                
        
        <activity android:name=".ui.ForwardInbox" android:label="EnvayaSMS : Forward Inbox">
        </activity>        

        <activity android:name=".ui.Prefs" android:label="EnvayaSMS : Settings">
        </activity>

        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="101">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver> 	
        
        <receiver android:name=".receiver.OutgoingSmsReceiver">
            <intent-filter>
                <action android:name="org.envaya.sms.OUTGOING_SMS" />
                <data android:scheme="content" />
            </intent-filter>            
        </receiver>
        
        <receiver android:name=".receiver.MessageStatusNotifier" android:exported="true">
            <intent-filter>
                <action android:name="org.envaya.sms.MESSAGE_STATUS" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>
        
        <!-- 
            we don't really use message delivery notifications yet...
            
        <receiver android:name=".receiver.MessageDeliveryNotifier" android:exported="true">
            <intent-filter>
                <action android:name="org.envaya.sms.MESSAGE_DELIVERY" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>
        -->

        <receiver android:name=".receiver.OutgoingMessagePoller">
        </receiver>
        
        <receiver android:name=".receiver.OutgoingMessageRetry">
        </receiver>        
        
        <receiver android:name=".receiver.IncomingMessageRetry">
        </receiver>                                         
        
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter> 
                 <action android:name="android.intent.action.BOOT_COMPLETED" /> 
            </intent-filter>
        </receiver>
        
        <receiver android:name=".receiver.ExpansionPackInstallReceiver">
            <intent-filter> 
                 <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                 <action android:name="android.intent.action.PACKAGE_REMOVED" /> 
                 <action android:name="android.intent.action.PACKAGE_REPLACED" /> 
                 <data android:scheme="package" />
            </intent-filter>            
        </receiver>        
        
        <service android:name=".CheckMmsInboxService">
        </service>

        <service android:name=".ForegroundService">
        </service>        
        
    </application>    
</manifest> 